# System / OS
.DS_Store
Thumbs.db
desktop.ini

# Dependencies
node_modules/
.npm/

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# Env files
.env
.env.local
.env.*.local
